langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
faiss-cpu
langchain-chroma
duckdb
pandas
langchain-groq
duckduckgo-search
langchain-huggingface
streamlit